on:
  pull_request:
    branches:
      - master

jobs:
    build-frontend:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout code
          uses: actions/checkout@v2

        - name: Set up Node.js
          uses: actions/setup-node@v2
          with:
            node-version: '14'

        - name: Install dependencies
          run: npm install

        - name: Build frontend
          run: npm run build

        - name: Run ESLint
          run: npx eslint .


    build-backend:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout code
          uses: actions/checkout@v2

        - name: Set up .NET
          uses: actions/setup-dotnet@v2
          with:
            dotnet-version: '6.0.x'

        - name: Restore dependencies
          run: dotnet restore

        - name: Build backend
          run: dotnet build --no-restore --configuration Release

        

