on:
  pull_request:
    branches:
      - main

jobs:
    build_frontend:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout code
          uses: actions/checkout@v2

        - name: Build the app
          run: npm install && npm run build
          working-directory: ./frontend 

        - name: Run ESLint
          run: npm run lint
          working-directory: ./frontend


    build_backend:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout code
          uses: actions/checkout@v2

        - name: Set up .NET
          uses: actions/setup-dotnet@v2
          with:
            dotnet-version: '9.0.x'

        - name: Build backend
          run: dotnet build
          working-directory: ./backend

        

