on:
  pull_request:
    branches:
    - main

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
        - name: Checkout repository
          uses: actions/checkout@v4
        
        - name: Setup .NET SDK 9.0.x
          uses: actions/setup-dotnet@v4
          with:
            dotnet-version: '9.0.x'
            
        - name: Publish the app
          run: dotnet build
          working-directory: ./backend
