on:
  pull_request:
    branches:
    - main

jobs:
  build-backend:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    
    - name: Setup .NET SDK 9.0.x
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '9.0.x'
        
    - name: Publish the app
      run: dotnet build
      working-directory: ./backend

  build-frontend:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install dependencies
      run: npm install
      working-directory: ./frontend

    - name: Build the app
      run: npm run build
      working-directory: ./frontend

    - name: Lint
      run: npm run lint
      working-directory: ./frontend
