on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'

env: 
  AZURE_RG_NAME: rg-${{ vars.PROJECT_NAME }}-${{ vars.AZURE_RESOURCE_IDENTIFIER }}

jobs:


  commit_app_version:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Extract branch name
      run: |
        echo "$(git branch -r --contains ${{ github.ref }} --format '%(refname:lstrip=3)')"
        echo "branch=$(git branch -r --contains ${{ github.ref }} --format '%(refname:lstrip=3)')" >> $GITHUB_OUTPUT
      id: extract_branch

    - name: Update app version
      run: jq '.version = "${{ github.ref_name }}"' package.json > tmp.json && mv tmp.json package.json
      working-directory: ./frontend
      
    - name: Set up Git user
      run: |
        git config --local user.name "github-actions[bot]" &&
        git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
      
    - name: Commit and push version change
      run: |
        git add ./frontend/package.json &&
        git commit -m "update version ${{ github.ref_name }}" &&
        git push origin HEAD:${{ steps.extract_branch.outputs.branch }}

    outputs:
      branch_name: ${{ steps.extract_branch.outputs.branch }}


  build_frontend:
    runs-on: ubuntu-latest
    needs: [commit_app_version]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Pull latest changes
      run: git checkout ${{ needs.commit_app_version.outputs.branch_name }} && git pull

    - name: Build the app
      run: npm install && npm run build
      working-directory: ./frontend

    - name: Run ESLint
      run: npm run lint
      working-directory: ./frontend

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: frontend-artifact
        path: ./frontend/dist
        if-no-files-found: error

    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0


  build_backend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up .NET
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: '9.0.x'

      - name: Build backend
        run: dotnet build
        working-directory: ./backend

      - name: Publish the app
        run: dotnet publish -c Release --property:PublishDir=publish # Publish the app to the API project publish folder
        working-directory: ./backend # Specify where to find the solution file in repository

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: backend-artifact
          path: ./backend/ParkNDeploy.Api/publish
          if-no-files-found: error

  deploy:
    uses: ./.github/workflows/CD-infra-and-apps.yml
    needs: [build_frontend, build_backend]
  
  