name: CI Release

on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'
  workflow_dispatch:

permissions:
  id-token: write
  contents: write

env:
  AZURE_RG_NAME: rg-${{ vars.PROJECT_NAME }}-${{ vars.AZURE_RESOURCE_IDENTIFIER }}

jobs:
  build_backend:
    runs-on: ubuntu-latest
    environment: production
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'

      - name: Publish the backend app
        run: dotnet publish -c Release --property:PublishDir=publish
        working-directory: ./backend

      - name: Upload backend artifact
        uses: actions/upload-artifact@v4
        with:
          name: backend-artifact
          path: ./backend/ParkNDeploy.Api/publish

  build_frontend:
    runs-on: ubuntu-latest
    environment: production
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Get branch name
        id: get_branch
        run: |
          BRANCH=$(git branch -r --contains "$GITHUB_SHA" | grep -v '\->' | sed 's|origin/||' | head -n 1)
          echo "Branch: $BRANCH"
          echo "branch_name=$BRANCH" >> $GITHUB_OUTPUT

      - name: Check out the branch
        run: |
          git checkout ${{ steps.get_branch.outputs.branch_name }}

      - name: Edit package version with tag version
        run: |
          echo "`jq '.version="${{ github.ref_name }}"' package.json`" > package.json
        working-directory: ./frontend

      - name: Build the app
        working-directory: ./frontend
        run: |
          npm install
          npm run build

      - name: Archive the artifact
        uses: actions/upload-artifact@v4
        with:
          name: frontend-artifact
          path: ./frontend/dist

      - name: Set up Git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

      - name: Commit changes
        run: |
          git add -A
          git commit -m "feat(version) : Update package json version to ${{ github.ref_name }}"

      - name: Push changes
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git push origin HEAD