on: [release, workflow_dispatch]

jobs:
    build-reactapp-lint-frontend-job:
        runs-on: ubuntu-latest
        environment: production

        steps:
        - name: Checkout repository
          uses: actions/checkout@v4

        - name: Build the react app - production mode
          run: npm install && npm run build
          working-directory: ./frontend

    create-artifact-frontend-job:
        runs-on: ubuntu-latest
        needs: build-reactapp-lint-frontend-job
        environment: production

        steps:
        - name: Checkout repository
          uses: actions/checkout@v4

        - name: Create artifact for frontend
          uses: actions/upload-artifact@v3
          with:
            name: frontend-artifact

        
 