name: Deploy Artifacts

on:  
  # Trigger the CD workflow (deploy-artifacts) on the completion of the CI workflow (build-artifacts)
  workflow_call:
  # Trigger the CD workflow manually from GitHub UI
  # Run_id from previous CI available at GH / Actions/ Workflow Run / Id as last part of the URL 
  workflow_dispatch:
    inputs:
      run_id:
        description: 'Workflow Run ID containing the artifacts from a previous CI to deploy'
        required: true
        type: string
      
env: 
  AZURE_RG_NAME: rg-${{ vars.PROJECT_NAME }}-${{ vars.AZURE_RESOURCE_IDENTIFIER }}
  
jobs:
  deploy_infrastructure:    
    runs-on: ubuntu-latest
    environment: production # This is mandatory to get the federated credential (bind to production environment)
    permissions:
      id-token: write # Require write permission to Fetch an OIDC token (required for federated credential)

    # Expose job outputs to be used in the next jobs
    outputs:
      appServiceName: ${{ steps.bicep_deploy.outputs.appServiceName }}
      appServiceUrl: ${{ steps.bicep_deploy.outputs.appServiceUrl }}
      staticWebAppName: ${{ steps.bicep_deploy.outputs.staticWebAppName }}

    steps:    
    - name: Checkout repository
      uses: actions/checkout@v4
      
    - name: Login to Azure 
      uses: azure/login@v2
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
        enable-AzPSSession: true # Needed for resource group creation after

    - name: Create resource group if not exists      
      run: |
        az group show --name ${{ env.AZURE_RG_NAME }} ||
        az group create --name ${{ env.AZURE_RG_NAME }} --location ${{ secrets.AZURE_REGION }}

    - name: Deploy bicep
      id: bicep_deploy
      uses: azure/arm-deploy@v2
      with:
        scope: resourcegroup
        subscriptionId: ${{ secrets.AZURE_SUBSCRIPTION }}
        region: ${{ secrets.AZURE_REGION }}
        template: ./infrastructure/main.bicep
        parameters: project=${{ vars.PROJECT_NAME }} location=${{ secrets.AZURE_REGION }} swaLocation=${{ secrets.AZURE_SWA_REGION }} identifier=${{ vars.AZURE_RESOURCE_IDENTIFIER }}
        resourceGroupName: ${{ env.AZURE_RG_NAME }}

  deploy_backend:
    runs-on: ubuntu-latest
    needs: deploy_infrastructure
    environment: production
    permissions:
      id-token: write # Require write permission to Fetch an OIDC token (required for federated credential)

    steps:      
    - name: Download the backend artifact
      uses: actions/download-artifact@v4
      with:
        name: backend-artifact
        run-id: ${{ inputs.run_id || github.run_id }}
        github-token: ${{ secrets.GITHUB_TOKEN }}
    
    - name: Login to Azure 
      uses: azure/login@v2
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      
    - name: Deploy backend to App Service
      uses: azure/webapps-deploy@v2
      with: 
        app-name: ${{ needs.deploy_infrastructure.outputs.appServiceName }} # Access to the previous job output to get the appServiceName deployed with bicep
        package: . # artifact is in the root folder

  deploy_frontend:
    runs-on: ubuntu-latest
    needs: deploy_infrastructure
    environment: production
    permissions:
      id-token: write # Require write permission to Fetch an OIDC token (required for federated credential)
      
    steps:
    - name: Download the frontend artifact
      uses: actions/download-artifact@v4
      with:
        name: frontend-artifact
        run-id: ${{ inputs.run_id || github.run_id }}
        github-token: ${{ secrets.GITHUB_TOKEN }}

    - name: Login to Azure 
      uses: azure/login@v2
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}  

    - name: Get Static Web App deployment token
      run: |      
        SWA_DEPLOYMENT_TOKEN=$(az staticwebapp secrets list -n ${{ needs.deploy_infrastructure.outputs.staticWebAppName }} -o tsv --query properties.apiKey)
        echo SWA_DEPLOYMENT_TOKEN=$SWA_DEPLOYMENT_TOKEN >> $GITHUB_ENV
  
    - name: Deploy frontend to Static Web App
      uses: azure/static-web-apps-deploy@v1
      with:
        azure_static_web_apps_api_token: ${{ env.SWA_DEPLOYMENT_TOKEN }}
        app_location: . # artifact is in the root folder
        action: upload
        skip_app_build: true
        skip_api_build: true