on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'

permissions:
  # Require write permission to Fetch an OIDC token (required for federated credential) and write it
  # It will be automatically used on actions / cli that needs it
  id-token: write
  contents: write

env: 
  AZURE_RG_NAME: rg-${{ vars.PROJECT_NAME }}-${{ vars.AZURE_RESOURCE_IDENTIFIER }}

jobs:

  deploy_infrastructure:
    runs-on: ubuntu-latest
    environment: production # bind the job to the production environment
    needs: [build_frontend, build_backend]

    outputs:
      appServiceName: ${{ steps.bicep_deploy.outputs.appServiceName }}
      staticWebAppName: ${{ steps.bicep_deploy.outputs.staticWebAppName }}

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Login to Azure 
      uses: azure/login@v2
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
        enable-AzPSSession: true 

    - name: Create resource group if not exists      
      run: |
        az group show --name ${{ env.AZURE_RG_NAME }} ||
        az group create --name ${{ env.AZURE_RG_NAME }} --location ${{ secrets.AZURE_REGION }}

    - name: Deploy bicep
      id: bicep_deploy
      uses: azure/arm-deploy@v2
      with:
        subscriptionId: ${{ secrets.AZURE_SUBSCRIPTION }}
        region: ${{ secrets.AZURE_REGION }}
        template: ./infrastructure/main.bicep
        parameters: project=${{ vars.PROJECT_NAME }} location=${{ secrets.AZURE_REGION }} swaLocation=${{ secrets.AZURE_SWA_REGION }} identifier=${{ vars.AZURE_RESOURCE_IDENTIFIER }}
        resourceGroupName: ${{ env.AZURE_RG_NAME }}


  build_frontend:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Extract branch name
      shell: bash
      run: |
        branch=$(git branch -r --contains ${{ github.ref }} --format "%(refname:lstrip=3)")
        echo ::set-env name=BRANCH::$branch
      id: extract_branch

      
    - name: log untrusted output
      run: |

        # disable command workflow processing
        echo "::stop-commands::`echo -n ${{ github.token }} | sha256sum | head -c 64`"

        # log untrusted output
        echo "untrusted output"

        # enable workflow command processing
        echo "::`echo -n ${{ github.token }} | sha256sum | head -c 64`::"


    - name: Set version from tag
      env:
        TAG: ${{ github.ref_name }}
      run: |
        echo "Tag: $TAG"
        
        # remove leading v if present
        VERSION=${TAG#v}
        
        echo "Version: $VERSION"
        node -e "const fs=require('fs'); const p='frontend/package.json'; const pkg=JSON.parse(fs.readFileSync(p)); pkg.version='${VERSION}'; fs.writeFileSync(p, JSON.stringify(pkg,null,2)+'\n');"
        
        git config user.name "github-actions[bot]"
        git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
        
        git add frontend/package.json
        git commit -m "chore: sync frontend package.json version to ${VERSION}" || echo "no changes to commit"
        git push origin HEAD:${{ steps.extract_branch.outputs.branch }}

    - name: Build the app
      run: npm install && npm run build
      working-directory: ./frontend

    - name: Run ESLint
      run: npm run lint
      working-directory: ./frontend

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: frontend-artifact
        path: ./frontend/dist
        if-no-files-found: error

    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    



  deploy_frontend:
    runs-on: ubuntu-latest
    needs: [deploy_infrastructure]
    environment: production

    steps:
    - name: Download frontend artifact
      uses: actions/download-artifact@v4
      with:
        name: frontend-artifact
        path: ./frontend/dist

    - name: Login to Azure 
      uses: azure/login@v2
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }} 

    - name: Get Static Web App deployment token
      run: |      
        SWA_DEPLOYMENT_TOKEN=$(az staticwebapp secrets list -n ${{ needs.deploy_infrastructure.outputs.staticWebAppName }} -o tsv --query properties.apiKey)
        echo SWA_DEPLOYMENT_TOKEN=$SWA_DEPLOYMENT_TOKEN >> $GITHUB_ENV
  
    - name: Deploy frontend to Static Web App
      uses: azure/static-web-apps-deploy@v1
      with:
        azure_static_web_apps_api_token: ${{ env.SWA_DEPLOYMENT_TOKEN }}
        app_location: frontend/dist
        action: upload
        skip_app_build: true
        skip_api_build: true



  build_backend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up .NET
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: '9.0.x'

      - name: Build backend
        run: dotnet build
        working-directory: ./backend

      - name: Publish the app
        run: dotnet publish -c Release --property:PublishDir=publish # Publish the app to the API project publish folder
        working-directory: ./backend # Specify where to find the solution file in repository

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: backend-artifact
          path: ./backend/ParkNDeploy.Api/publish
          if-no-files-found: error


  deploy_backend:
    runs-on: ubuntu-latest
    needs: [deploy_infrastructure]
    environment: production

    steps:
    - name: Download backend artifact
      uses: actions/download-artifact@v4
      with:
        name: backend-artifact
        path: ./backend/ParkNDeploy.Api/publish

    - name: Set up .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: '9.0.x'
    
    - name: Login to Azure 
      uses: azure/login@v2
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      
    - name: Deploy backend to App Service
      uses: azure/webapps-deploy@v2
      with: 
        app-name: ${{ needs.deploy_infrastructure.outputs.appServiceName }} # Access to the previous job output to get the appServiceName deployed with bicep
        package: ./backend/ParkNDeploy.Api/publish # Path to the previously published app


  