on: [push, workflow_dispatch]

env:
  AZURE_RG_NAME: rg-${{ vars.PROJECT_NAME }}-${{ vars.AZURE_RESOURCE_IDENTIFIER }}
  AZURE_LOCATION: ${{ secrets.AZURE_REGION }}

permissions:
  id-token: write
  contents: read

jobs:
  deploy_infrastructure:
    runs-on: ubuntu-latest
    environment: production

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Create resource group if not exists
        shell: bash
        run: |
          set -euo pipefail
          echo "RG: $AZURE_RG_NAME"
          echo "Location: $AZURE_LOCATION"

          if [ "$(az group exists --name "$AZURE_RG_NAME")" = "false" ]; then
            az group create --name "$AZURE_RG_NAME" --location "$AZURE_LOCATION"
          else
            echo "Resource group already exists."
          fi

      - name: Deploy bicep
        uses: azure/arm-deploy@v2
        with:
          subscriptionId: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          resourceGroupName: ${{ env.AZURE_RG_NAME }}
          template: ./infrastructure/main.bicep
          parameters: >
            project=${{ vars.PROJECT_NAME }}
            location=${{ secrets.AZURE_REGION }}
            identifier=${{ vars.AZURE_RESOURCE_IDENTIFIER }}
