on:
  push:
    tags:
      - '[0-9]+\.[0-9]+\.[0-9]+' 

env: 
  AZURE_RG_NAME: rg-${{ vars.PROJECT_NAME }}-${{ vars.AZURE_RESOURCE_IDENTIFIER }}
  APP_VERSION: ${{ github.ref_name }}
  
jobs:
  commit_app_version:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Extract branch name
      run: echo "branch=$(git branch -r --contains ${{ github.ref }} --format '%(refname:lstrip=3)')" >> $GITHUB_OUTPUT
      id: extract_branch

    - name: Update app version
      run: jq '.version = "${{ env.APP_VERSION }}"' package.json > tmp.json && mv tmp.json package.json
      working-directory: ./frontend
      
    - name: Set up Git user
      run: |
        git config --local user.name "github-actions[bot]" &&
        git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
      
    - name: Commit and push version change
      run: |
        git add ./frontend/package.json &&
        git commit -m "update version ${{ env.APP_VERSION }}" &&
        git push origin HEAD:${{ steps.extract_branch.outputs.branch }}

  build_backend:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    
    - name: Setup .NET SDK 9.0.x
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '9.0.x'
        
    - name: Publish the app
      run: dotnet publish -c Release --property:PublishDir=publish # Publish the app to the API project publish folder
      working-directory: ./backend # Specify where to find the solution file in repository

    - name: Upload Artifact
      uses: actions/upload-artifact@v6
      with:
        name: backend-artifact
        path: ./backend/ParkNDeploy.Api/publish
        if-no-files-found: error

  build_frontend:
    runs-on: ubuntu-latest
    needs: commit_app_version

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '18'

    - name: Install dependencies
      run: npm install
      working-directory: ./frontend

    - name: Build the app
      run: VITE_APP_VERSION=${{ env.APP_VERSION }} npm run build
      working-directory: ./frontend

    - name: Upload Frontend Artifact
      uses: actions/upload-artifact@v6
      with:
        name: frontend-artifact
        path: ./frontend/dist
        if-no-files-found: error

  deploy_infrastructure:
    runs-on: ubuntu-latest
    needs:
      - build_backend
      - build_frontend
    environment: production # bind the job to the production environment
    permissions:
      id-token: write

    outputs:
      appServiceName: ${{ steps.bicep_deploy.outputs.appServiceName }}
      staticWebAppName: ${{ steps.bicep_deploy.outputs.staticWebAppName }}

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Login to Azure 
      uses: azure/login@v2
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
        enable-AzPSSession: true 

    - name: Create resource group if not exists      
      run: |
        az group show --name ${{ env.AZURE_RG_NAME }} ||
        az group create --name ${{ env.AZURE_RG_NAME }} --location ${{ secrets.AZURE_REGION }}

    - name: Deploy bicep
      id: bicep_deploy
      uses: azure/arm-deploy@v2
      with:
        subscriptionId: ${{ secrets.AZURE_SUBSCRIPTION }}
        region: ${{ secrets.AZURE_REGION }}
        template: ./infrastructure/main.bicep
        parameters: project=${{ vars.PROJECT_NAME }} location=${{ secrets.AZURE_REGION }} swaLocation=${{ secrets.AZURE_SWA_REGION }} identifier=${{ vars.AZURE_RESOURCE_IDENTIFIER }}
        resourceGroupName: ${{ env.AZURE_RG_NAME }}

  deploy_backend:
    runs-on: ubuntu-latest
    needs:
      - deploy_infrastructure
    environment: production
    permissions:
      id-token: write

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Download Backend Artifact
      uses: actions/download-artifact@v5
      with:
        name: backend-artifact
        path: ./backend/ParkNDeploy.Api/publish

    - name: Login to Azure 
      uses: azure/login@v2
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      
    - name: Deploy backend to App Service
      uses: azure/webapps-deploy@v2
      with: 
        app-name: ${{ needs.deploy_infrastructure.outputs.appServiceName }} # Access to the previous job output to get the appServiceName deployed with bicep
        package: ./backend/ParkNDeploy.Api/publish # Path to the previously published app

  deploy_frontend:
    runs-on: ubuntu-latest
    needs: 
      - deploy_infrastructure
    environment: production
    permissions:
      id-token: write

    steps:
    - name: Download Frontend Artifact
      uses: actions/download-artifact@v5
      with:
        name: frontend-artifact
        path: ./frontend/dist

    - name: Login to Azure 
      uses: azure/login@v2
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }} 

    - name: Get Static Web App deployment token
      run: |      
        SWA_DEPLOYMENT_TOKEN=$(az staticwebapp secrets list -n ${{ needs.deploy_infrastructure.outputs.staticWebAppName }} -o tsv --query properties.apiKey)
        echo SWA_DEPLOYMENT_TOKEN=$SWA_DEPLOYMENT_TOKEN >> $GITHUB_ENV
  
    - name: Deploy frontend to Static Web App
      uses: azure/static-web-apps-deploy@v1
      with:
        azure_static_web_apps_api_token: ${{ env.SWA_DEPLOYMENT_TOKEN }}
        app_location: frontend/dist
        action: upload
        skip_app_build: true
        skip_api_build: true