on: [pull_request]

permissions:
  id-token: write

jobs:
  build_react_app:
    runs-on: ubuntu-latest
    environment: production

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Build the app
      run: npm install && npm run build
      working-directory: ./frontend

    - name: linting script
      run: npm run lint
      working-directory: ./frontend


  build_backend: 
    runs-on: ubuntu-latest
    environment: production

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    
    - name: Setup .NET SDK 9.0.x
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '9.0.x'

    - name: Publish the app
      run: dotnet publish -c Release --property:PublishDir=publish
      working-directory: ./backend 
